<section data-ng-controller="HomeController">
	<!-- Main jumbotron for the page -->
	<div class="jumbotron text-center">
		<div class="container-fluid">
			<h2>frank Recruiter System</h2>
			<p>Descriptive text will go here</p>
		</div>
	</div>

	<!-- app launcher area -->
	<div class="container">
		<h1>App Launcher</h1>
		<div class="row">
			<div class="col-md-3">
				<h2>
					Leaderboards
				</h2>
			</div>
			<div class="col-md-3">
				<h2>
					Hotel Finder
				</h2>
			</div>
			<div class="col-md-3">
				<h2>
					Invite People
				</h2>
			</div>
			<div class="col-md-3">
				<h2>
					More
				</h2>
			</div>
		</div>
	</div>
	
	<!--sound cloud player will go here -->
	<div class="well">
		sound cloud will go here
	</div>
</section>
