<section data-ng-controller="HomeController">
	<!-- Main jumbotron for the page -->
	<div class="jumbotron text-center">
		<div class="container-fluid">
			<h2>frank Recruiter System</h2>
			<p>Descriptive text will go here</p>
		</div>
	</div>

	<div id="buttoncontainer" class="container">
		<!-- app launcher area -->
		<div ng-controller="ButtonController">
			<!-- these divs col values will generate dynamicaly through angular -->
			<a href="#" class="btn" role="button"><img src="/modules/core/img/temp/242.svg" alt="Placeholder"></a>
						
			<a href="#" class="btn" role="button"><img src="/modules/core/img/temp/242.svg" alt="Placeholder"></a>
						
			<a href="#" class="btn" role="button"><img src="/modules/core/img/temp/242.svg" alt="Placeholder"></a>
			
			<a href="#" class="btn" role="button"><img src="/modules/core/img/temp/242.svg" alt="Placeholder"></a>
		</div>
	</div>

	<!--sound cloud player will go here -->
	<div class="musicdiv well">
		sound cloud will go here
	</div>
</section>
