<section data-ng-controller="HomeController">
	<!-- Main jumbotron for the page -->
	<div class="jumbotron text-center">
		<div class="container-fluid">
			<h2 style="margin-top: 0;">frank Recruiting Center</h2>
			<p style="margin-bottom: 0;">Only the smartest in Public Interests Communication allowed!<br/>(Obviously you qualify)</p>
		</div>
	</div>


	<button type="button" ng-click="toggleComments()" ng-show="!displayComments" class="btn btn-primary btn-md pull-right comments-sidebar">
    	<span class="glyphicon glyphicon-chevron-left"></span>
    	<span class="sidebar-hidden-text">Comments</span>
    </button>

	<div class="container-fluid">
		<div class="row">
			<!-- app launcher area -->
			<div ng-class="buttonsGrid" id="frank-buttons-containter" class="frank-main-view">
					<!-- these divs col values will generatgoogle mapse dynamicaly through angular -->
					<div ng-repeat="button in data.buttons | roles:userRoles" class="homeButtonContainer">
						<div class="homeButton text-center">
							<a href="{{button.link}}">
								<img src="{{button.image}}" class="homepage-nav-buttons" alt="Place holder">
								<div class="caption">
									<h3>{{button.name}}</h3>
								</div>
							</a>
						</div>
					</div>
			</div>

			<div ng-show='displayComments' class="panel panel-primary col-md-2 homepage-comments">
				
				<div class="panel-heading">
    				User Comments
    				<button type="button" ng-click="toggleComments()" class="btn btn-defualt btn-xs pull-right">
    					 <span class="glyphicon glyphicon-remove"></span>
    				</button>
  				</div>

  				<div class="panel-body">
    				<p ng-repeat="comment in data.comments">{{comment}}</p>
  				</div>
  				
			</div>

			<!-- <div class="col-md-2"">
				<button type="button" ng-click="toggleComments()" ng-show="!displayComments" class="btn btn-primary btn-md pull-right comments-sidebar">
			    	<span class="glyphicon glyphicon-chevron-left"></span>
			    	<span class="sidebar-hidden-text">Comments</span>
			    </button>
			</div> -->
		</div>
	</div>

	<!--sound cloud player will go here -->
</section>
