a {
	color: black;
	cursor: pointer;
}

a:hover {
	color: #333232;
}

.dropdown-menu {
	float: left;
}

.frank-event-select {
	background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
	background-image: -o-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
	background-image: -moz-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f0ad4e), to(#ec971f));
	background-image: linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
	background-repeat: repeat-x;
	border-color: #eea236;
}

.leaderboard-container {
	background-color: white;
	margin-top: 10px;
	margin-left: 10px;
	height: 575px;
}

.ng-table-counts {
	display: none;
}

.ng-table th.sortable div:after, .ng-table th.sortable div:before {
	border-color: #fff transparent;
}

.ng-table th.sortable div:before {
	border-top: 4px solid #fff;
}

.ng-table th.sortable.sort-desc, .ng-table th.sortable.sort-asc {
	background-color: rgb(25, 25, 25);
	background-color: rgba(25, 25, 25, .70);
}

.ng-table th.sortable.sort-desc div:after {
	border-top: 4px solid #fff;
}

.table .progress {
	margin-bottom:0;
}

.table {
	margin-bottom:0;
	border-collapse: separate;
}

th.header {
	background-color: #333232;
	color: white;
}

.pagination {
	margin-top:2px;
}

.attendingBar {
	background-color: #c54e92;
}

.rankCol {
	width:80px;
}

.overall-stats {
	margin-top: 50px;
}

.progress-keys {
	display: table;
	margin: auto;
}

.progress-key {
	display: inline-flex;
	margin-right: 10px;
}

.progress-color-key {
	width: 15px;
	height: 15px;
	border: 1px solid black;
	margin: auto;
	margin-right: 5px;
}

.ranktitle {
	font-size:2em;
	margin-bottom:0;
}

.eventSelector {
	padding-top:0;
}

.score-section  {
	margin-top:20px;
}

.score-section h1 {
	margin:0;
}

.rank-container {
	margin-left:auto;
	margin-right:auto;
	width:200px;
	height:200px;
	background-color:#93c63d;
}

.rank-container h1 {
	margin:0;
	font-size:150px;
	text-align:center;
	line-height:200px;
	font-weight:bold;
	color:#ffffff;
}

.frank-rank-smaller h1{
	font-size: 110px !important;
}

.stat-heading {
	font-size:3em;
}

.stat {
	margin-top: 5px;
}

.stat-title {
	display: inline-block;
	width: 100px;
	font-weight: 700px;
}

.stat .fa.fa-child {
	margin-right: -1px;
}

.stat-num {
	display: inline-block;
	margin-left: 15px;
}

@media (max-width: 991px) {
	div.leaderboard-container.frank-main-view {
		margin-bottom: 0px !important;
	}

	.score-section .col-md-4 {
		max-width: 200px;
		display: inline-block;
		margin-right: 25px;
	}

	.score-section .col-md-8 {
		width: 66.66666666%;
		display: inline-block;
	}
}