.animate-container {
  width: 100%;
}
.frank-invite-hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
.frank-invite-preview-modal {
  width: 792px !important;
  height: 425px;
  margin: auto;
}
.frank-invite-preview-modal .modal-dialog{
  margin: 0;
  width: 782px;
}
.frank-invites-sidebar{
  position: fixed;
  height: 100vh;
  width: 325px;
  right: 0;
  top: 0;
  margin-top: -30px;
  background-color: #E8E9EB;
  z-index: 0;
}
.frank-invites-sidebar table {
  border-spacing: 3px;
  border-collapse: separate;
}
.frank-invite-sidebar-search {
  width: 90%;
  margin-left: 16px;
  margin-top: 5px;
}
.frank-invite-sidebar-title {
  color: white;
  background-color: #333232;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  height: 25px;
  font-size: 18px;
}
.frank-invite-sidebar-total {
  width: 100%;
}
.frank-invite-table-container {
  max-height: 45vh;
  overflow: auto;
}
.frank-invite-table-container thead {
  background-color: #E8E9EB;
}
.invitation-button {
  height: 45px;
  width: 120px;
  padding: 10px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
}
.invitation_field {
  height:25px;
  margin-left: 6vw;
  display: inline-table;
}
.ng-pristine.ng-invalid-required {
  box-shadow: none;
}
.preview {
  background:purple;
  height:50%;
  position:absolute;
  border:1px solid black;
  width:50%;
  margin-left:30%;
  margin-right:50%;
  z-index:100;
  border-radius:10px;
  color:black;
}
.sidebar-display {
  display: none;
}
.sidebar-display i.fa {
  top: 50vh;
  right: -7px;
  position: relative;
  color: white;
  font-size: 20px;
}
.to_field {
  border: 1px solid rgb(169, 169, 169);
  border-radius: 5px;
  height: 28px;
  width: 80%;
  padding-left: 4px;
  margin-bottom: 7px;
}

#to_fields label {
  padding-left: 25px;
  display: initial;
}

#invites {
  top: 220px;
  right:-335px;
}
#accepted {
}
#from {
  margin-top: 15px;
}
#invitation_buttons {
  width: 244px;
  margin: auto;
  margin-bottom: 25px;
}
#invite {
  min-height: 580px;
  margin-left: 5%;
  width: 60vw;
  background-color: white;
  margin-top: 10px;
}
#invitee_email {
  margin-left: 33px;
  display: inline-block;
}
#to_fields {
  width: 45vw;
}
#header {
  text-align:center;
  position:relative;
}
#message {
  margin-top: 15px;
  margin-left: 6vw;
}
#p_message {
  width: 45vw;
  max-height: 250px;
  min-height: 185px;
  height: 30vh;
  resize: none;
  border-radius: 5px;
}
#recruiter_email {
  display: inline-block;
  border: 1px solid rgb(169, 169, 169);
  width: 45vw;
  height: 30px;
  vertical-align: middle;
  padding: 4px;
  border-radius: 5px;
  background-color: white;
}
body {
  background-color:#F5F5F5;
}
#previewbutton {
  background-color: rgb(197, 78, 144);
  border-radius: 0;
}
.invitation_fName {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  margin-left: -1px;
  border-left: 1px solid rgb(169, 169, 169);
}
#invitation-submit-button {
  background-color: rgb(115, 201, 45);
  border-radius: 0;
}


/*Overwritten Angular-Bootstrap*/
.modal-dialog {
  margin-top: 30vh;
}
.modal.ui-draggable {
  position: relative;
  top: -615px;
}
.panel-group .panel + .panel{
  margin-top: 0;
}
.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image: -o-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image: -moz-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222));
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  color: #E8E9EB;
}
.panel-default > .panel-heading:hover {
  color: white;
}
.panel-default > .panel-heading a:hover {
  color: white;
  text-decoration: none;
}

.frank-invite-preview-modal .modal-dialog {
  width: 750px;
}
.frank-invite-preview-modal .modal-body {
  width: 100%;
  height: 280px;
}

/*Overwritten jQuery-UI*/
.ui-draggable-handle {
  cursor: pointer;
}

@media (max-width: 876px) {
  #invitee_email {
    margin-left: 0;
    display: block;
  }
}

@media (max-width: 935px) {
  .accordion-hidden {
    display: none;
  }

  .frank-invites-sidebar {
    display: inline-flex;
    width: 370px;
    z-index: 0;
  }

  .frank-invites-sidebar-closed {
    width: 25px;
  }

  .jumbotron {
    position: relative;
    z-index: 5;
  }

  .panel-group {
    width: 345px;
  }

  .sidebar-display {
    display: inline-block;
    height: 100vh;
    width: 25px;
    background: #6C6969;
  }

  #invite {
    width: 90vw;
  }

  #p_message {
    width: 75vw;
  }

  #recruiter_email {
    width: 75vw;
  }

  #to_fields {
    width: 75vw;
  }
}

@media (max-width: 1154px) and (min-width: 935px) {
  #invitee_email {
    display: block;
    margin-left: 0;
  }

  #invite {
    min-height: 660px;
  }
}
