<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

	<head>
	</head>

	<body>
		<p>Hello {{name}},</p>
		<br />
		<p>It appears you have decided to create an account on our website.  To help you connect with others that have have made this wise decision, make sure to check back at: {{address}}.</p>
		<p>When you first log in use this email address and the following password: <b>{{password}}</b></p>
		<p>Make sure to checkout all the cool events that we have planned and engage with other members.</p>
		<br />
		<br />
		<p> -frank</p>
	</body>

</html>
