<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title>Yet Another Invitation Accepted!</title>
	</head>
	<body style="font-family: 'Helvetica', sans-serif; width: 750px;">
		<img src="http://www.frank2016.net/image?image=email_header.png" />
		<div style="width: 600px; margin: auto;">
			<p>Hello {{recruiter_name}},</p>
			<br />
			<p>Congratulations!  {{name}} accepted your invitation to attend {{event}}.</p>
			<p>With this win under your belt, you may want to check out the <a href="http://www.frank2016.net/#!/leaderboard" target="_blank">Leaderboard</a> to see how your recruiting skills stack up against the other recruiters.  While you're there, swing by the <a href="http://www.frank2016.net/#!/franklounge" target="_blank"><em>frank</em> Lounge</a> to connect with {{name}} and other attendees.</p>
			<br />
			<br />
			<p> - <em>frank</em></p>
		</div>
	</body>
</html>