<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title>You're Going to frank2016!</title>
	</head>
	<body style="font-family: 'Helvetica', sans-serif; width: 750px;">
		<img src="http://www.frank2016.net/image?image=email_header.png" />
		<div style="width: 600px; margin: auto;">
			<p>Hello {{name}},</p>
			<br />
			<p>You are now registered to attend <em>frank</em>2016.  To help you better deal with the anxiety that comes from waiting for <em>frank</em>2016 to start, we created a new website to help you connect with other rabble-rousers long before the pilgrimage to Gainesville in February.  To access your new account, simply visit <a href="http://www.frank2016.net" target="_blank">www.frank2016.net</a>.  Use the email address at which you received this notification and the password: <b>{{password}}</b></p>
			<p>Make sure to check the <a href="http://www.frank2016.net/#!/franklounge" target="_blank"><em>frank</em> Lounge</a> on a regular basis to mingle with other attendees and see the latest news on <em>frank</em>2016.</p>
			<br />
			<br />
			<p> -frank</p>
		</div>
	</body>
</html>
