<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

	<head>
	</head>

	<body>
		<p>Hello {{name}},</p>
		<br />
		<p>{{ name }} has accepted your invitation to attend {{ event }}. </br></p>
		<p>Make sure to invite more of your friends and colleagues and maybe you can top the leaderboard! </br> </p>
		<p>Remind your new attendee to check out the website to keep up on all the latest news about {{ event }}. </br></p>
		<br/>
		<br/>
		<p> -frank</p>
	</body>

</html>
