<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

	<head>
	</head>

	<body>
		<p>Hello {{name}},</p>
		<br />
		<p>It appears you have signed up to attend {{event}}.  To help you connect with others who have made this wise decision, we created a private website.  You can access your new account at: {{address}}.</p>
		<p>When you first log in use this email address and the following password: <b>{{password}}</b></p>
		<p>Make sure to checkout your account and add your two-cents to all the buzz about {{event}}.</p>
		<br />
		<br />
		<p> -frank</p>
	</body>

</html>
