<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Congrats, You are a Recruiter for {{event_name}}</title>
		<style>
			.inner-list {
				list-style-type : lower-alpha;
				margin-left : 15px;
			}
		</style>
	</head>

	<body style="font-family: 'Helvetica', sans-serif; width: 750px;">
		<img src="http://www.frank2016.net/image?eid={{email_id}}&amp;image=email_header.png" />
		<div style="width: 600px; margin: auto;">
			<p>That moment you saw the way forward.  That moment you decided to speak up for someone else.  That moment you became so outraged, you had to take action.  That moment you believed you could make a difference.  At <em>frank</em>2016, we'll celebrate the moments that defined us as changemakers, and we'll create dozens of new ones.</p>
			<p>As we build <em>frank</em>2016, we need your help to find the innovators, movement-builders and rabble rousers whose presence makes <em>frank</em> so special.  We can't do it without your help, so thank you for agreeing to be a recruiter for <em>frank</em>2016.  You're one of just 35 highly networked and sophisticated communicators and changemakers we're trusting to help us recruit the right people to <em>frank</em>2016.  So, who inspires you?  Who do you want to sit with in a coffee shop and take on the problems of the world?</p>
			<p>Last year, 297 people came together for the second gathering of social change communicators.  These changemakers and movement builders have dedicated their lives to ending poverty, shattering gender stereotypes, making the environment safe and healthy, and making sure that every kid gets a chance to learn and grow old.  At <em>frank</em>, they found a community of people eager to share what they've learned about driving social change.</p>
			<p>This email includes step-by-step directions for inviting the people who need to be at frank.  We've also popped a present in the mail to inspire you.</p>
			<h3>Ready to start?</h3>
			<p>
				<ol>
					<li><b>Today:</b> Reserve your seat.  Go to <a href="https://frank2016.eventbrite.com" target="_blank">frank2016.eventbrite.com</a>, enter the password "frankster" and use the code "frankrecruiter" to reserve your spot.  Your recruiter status gets you 15% off the registration fee until September 1.  This will take about 5 minutes.</li>
					<li><b>START RECRUITING NOW:</b> Invite the most sophisticated communicators you know.  Our online recruiting system makes it super-easy.  If you've got their addresses handy, completing this step won't take more than 20 minutes.<br /><b>FOLLOW THESE STEPS</b></li>
						<ol type="a" class="inner-list">
							<li>Log in <a href="http://www.frank2016.net/" target="_blank">here</a> using the email you received this note, and enter {% if password %}this temporary password: <b>{{password}}</b>.{% else %}your password.{% endif %}</li>
							{% if password %}<li>Change this temporary password, tell us where you work, and select your interests.</li>{% endif %}
							<li>Once redirected to the homepage, select <em>frank</em>2016 in the dropdown menu beside your name in the top right-hand corner of the page.</li>
							<li>Head to the Control Room, where you can send electronic invitations by entering the email addresses and names of the people you want to invite to <em>frank</em>2016 and clicking "Send".</li>
							<li>You can preview and customize the email they'll get with a personal note.  You'll also receive a notification later once they have registered.  As recruiting amps up, you can see how your recruiting skills compare to other recruiters, view who else is attending <em>frank</em>2016, and connect with other recruiters on the <a href="http://www.frank2016.net/#!/leaderboard" target="_blank">Leaderboard</a>.  Head to the <a href="http://www.frank2016.net/#!/franklounge" target="_blank">Lounge</a> to connect with other attendees.</li>
						</ol>
					<li><b>This week:</b> Reserve your room.  We have a block of rooms reserved for <em>frank</em> at  the<a href='https://secure3.hilton.com/en_US/hp/reservation/book.htm?execution=e3s1' target="_blank">Hampton Inn</a> and the <a href='http://www.holidayinn.com/hotels/us/en/gainesville/gnvuc/hoteldetail?qAdlt=1&amp;qBrs=6c.hi.ex.rs.ic.cp.in.sb.cw.cv.ul.vn&amp;qChld=0&amp;qFRA=1&amp;qGRM=0&amp;qGrpCd=FK6&amp;qPSt=0&amp;qRRSrt=rt&amp;qRef=df&amp;qRms=1&amp;qRpn=1&amp;qRpp=12&amp;qSHp=1&amp;qSmP=3&amp;qSrt=sBR&amp;qWch=0&amp;srb_u=1&amp;icdv=99801505&amp;icdv=99801505/"&#39;' target="_blank">Holiday Inn</a>.  This will also take about 5 minutes.</li>
				</ol>
			</p>
			<p>Once you've invited the people you think should be at <em>frank</em>2016, you can follow up with them, or ask us to.</p>
			<p>Thank you so much for helping us build a better <em>frank</em>.</p>
			<p>Click here to start: <a href="http://www.frank2016.net/" target="_blank">www.frank2016.net</a></p>
		</div>
	</body>
</html>
