<section>
	<div class="jumbotron text-center">
		<div class="container-fluid">
			<h2>Admin Page</h2>
		</div>
	</div>
	<div class="admin-container">
	    <tabset>
	        <tab heading="Applications">
	        	<ng-include src="'modules/admin/views/application.client.view.html'"></ng-include>
	        </tab>
	        <tab heading="Attendees">
	        	<ng-include src="'modules/admin/views/attendees.client.view.html'"></ng-include>
	        </tab>
	        <tab heading="Events">
	        	<ng-include src="'modules/admin/views/event.client.view.html'"></ng-include>
	        </tab>
	        <tab heading="Krewes">
	        	<ng-include src="'modules/admin/views/krewes.client.view.html'"></ng-include>
	        </tab>
	        <tab heading="Recruiters">
	        	<ng-include src="'modules/admin/views/recruiters.client.view.html'"></ng-include>
	        </tab>
	    </tabset>
	</div>
</section>
