<section class="admin-application"	
	<div class="row" ng-controller="applicationController">    
		<div class="col-md-4">
			<div class="well">
				<div class="form-group row">
					<label for="fName">First Name:</label>
					<input id="fName" class="form-control" ng-model="firstName">
				</div>
				<div class="form-group row">
					<label for="lName">Last Name:</label>
					<input id="lName" class="form-control" ng-model="lastName">
				</div>
				<div class="form-group row">
					<label for="email">Email Address:</label>
					<input id="email" class="form-control" ng-model="emailAddress">
				</div>
				<button class="btn btn-primary" ng-click="addCandidate()">+ Candidate</button>
			</div>
		</div>

		<div class="col-md-8">
			<h2>Pending Applications</h2>
			<table ng-table="tableParams" class="table table-bordered">
				<tr ng-repeat="candidate in $data">
					<td data-title="'Name'">
						{{candidate.name}}
					</td>
					<td data-title="'Accept'">
						<button class="btn btn-success" ng-click="addApplicant($index)">Accept</button>
					</td>
					<td data-title="'Deny'">
						<button class="btn btn-danger" ng-click="removeApplicant($index)">Deny</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</section>
