<section class="admin-application"	
	<div class="row" ng-controller="applicationController">    
		<div class="col-md-4">
			<div class="well">
				<form name="candidateForm" novalidate ng-submit="addCandidate(newCandidate)">
					<div class="form-group row">
						<label>Select Event:</label>
						<div ng-dropdown-multiselect="" options="selectEvents" selected-model="newCandidateEvents" extra-settings="selectSettings" required></div>
					</div>
					<div class="form-group row">
						<label>First Name:</label>
						<input name="fName" class="form-control" type="text" ng-model="newCandidate.fName" required>
						<p ng-show="candidateForm.fName.$invalid && !candidateForm.fName.$pristine" class="help-block">A first name is required.</p>
					</div>
					<div class="form-group row">
						<label>Last Name:</label>
						<input name="lName" class="form-control" type="text" ng-model="newCandidate.lName" required>
						<p ng-show="candidateForm.lName.$invalid && !candidateForm.lName.$pristine" class="help-block">A last name is required.</p>
					</div>
					<div class="form-group row">
						<label>Email Address:</label>
						<input name="email" class="form-control" type="email" ng-model="newCandidate.email" required>
						 <p ng-show="candidateForm.email.$invalid && !candidateForm.email.$pristine" class="help-block">Enter a valid email.</p>
					</div>
					<div class="form-group row">
						<label>Notes (Optional):</label>
						<textarea name="notes" class="form-control" type="text" ng-model="newCandidate.note"/>
					</div>
					<button type="submit" class="btn btn-primary" ng-disabled="candidateForm.$invalid">+ Candidate</button>
				</form>
			</div>
		</div>

		<div class="col-md-8 frank-main-view">
			<h2>Pending Applications for {{selectedEvent}}</h2>
			<table ng-table="tableParams" show-filter="true" class="table table-bordered">
				<tr ng-repeat="candidate in $data">
					<td data-title="'Candidate'" sortable="'fName'" filter="{'fName':'text'}" width="200">
						{{candidate.fName + ' ' + candidate.lName}}
					</td>
					<td data-title="'Status'" sortable="'status'" filter="{'status':'text'}" width="100">
						{{candidate.events.status}}
					</td>
					<td data-title="'Notes'" sortable="'note'" filter="{'note':'text'}">
						{{candidate.note}}
					</td>
					<td data-title="'Accept'" width="90">
						<button class="btn btn-success" ng-click="acceptCandidate(candidate)">Accept</button>
					</td>
					<td data-title="'Deny'" width="90">
						<button class="btn btn-danger" ng-click="denyCandidate(candidate)">Deny</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</section>
