<div class="container">
	<div class="row" ng-controller="eventController">
		<div class="col-sm-4">
			<div class="well">
				<form name="eventForm" novalidate ng-submit="addEvent()">
					<div class="form-group row">
						<label>Event Name:</label>
						<input name="eventName" class="form-control" type="text" ng-model="newEvent.name" required>
					</div>
					<div class="form-group row">
						<label>Start Date:</label>
						<input name="sDate" class="form-control" type="text" ng-model="newEvent.sDate" required>
					</div>
					<div class="form-group row">
						<label>End Date:</label>
						<input name="eDate" class="form-control" type="text" ng-model="newEvent.eDate" required>
					</div>
					<div class="form-group row">
						<label>Location:</label>
						<input name="location" class="form-control" type="text" ng-model="newEvent.location" required>
					</div>
					<button type="submit" class="btn btn-primary" ng-disabled="eventForm.$invalid">Add Event</button>
				</form>
			</div>
		</div>

  		<div class="col-sm-8">
	  		<h2>Event List</h2>
	  		<table ng-table="tableParams" class="table table-bordered">
	  			<tr ng-repeat="event in $data">
	  				<td data-title="'Name'">
	  					{{event.name}}
	  				</td>
	  				<td data-title="'Start Date'">
	  					{{event.start}}
	  				</td>
	  				<td data-title="'End Date'">
	  					{{event.end}}
	  				</td>
	  				<td data-title="'Location'">
	  					{{event.location}}
	  				</td>
	  				<td data-title="'Remove'">
	  					<input type="button" value="Remove" class="btn btn-primary" ng-click="deleteRow($index)" />
	  				</td>
	  			</tr>
	  		</table>
  		</div>
  	</div>
</div>