<div class="container">
	<div class="row" ng-controller="eventController">
		<div class="col-sm-4">
			<div class="well">
				<div class="form-group row">
					<label for="eventName">Event Name:</label>
					<input id="eventName" class="form-control" ng-model="eventName">
				</div>
				<div class="form-group row">
					<label for="lName">Start Date:</label>
					<input id="sDate" class="form-control" ng-model="sDate">
				</div>
				<div class="form-group row">
					<label for="eDate">End Date:</label>
					<input id="eDate" class="form-control" ng-model="eDate">
				</div>
				<div class="form-group row">
					<label for="location">Location:</label>
					<input id="location" class="form-control" ng-model="location">
				</div>
				<button class="btn btn-primary" ng-click="addEvent()">Add Event</button>
			</div>
		</div>

  		<div class="col-sm-8">
	  		<h2>Event List</h2>
	  		<table ng-table="tableParams" class="table table-bordered">
	  			<tr ng-repeat="event in $data">
	  				<td data-title="'Name'">
	  					{{event.name}}
	  				</td>
	  				<td data-title="'Start Date'">
	  					{{event.start}}
	  				</td>
	  				<td data-title="'End Date'">
	  					{{event.end}}
	  				</td>
	  				<td data-title="'Location'">
	  					{{event.location}}
	  				</td>
	  				<td data-title="'Remove'">
	  					<input type="button" value="Remove" class="btn btn-primary" ng-click="deleteRow($index)" />
	  				</td>
	  			</tr>
	  		</table>
  		</div>
  	</div>
</div>