<div class="modal-header">
	<h3 class="modal-title"><i class="fa fa-plus-circle"></i> Invite a New Recruiter</h3>
</div>
<div class="modal-body">
	<div ng-show="editorMode">
		<form ng-submit="sendInvite" name="newCandidateEmailForm">
			<div class="form-group">
				<label for="email">To:<br />
					<div class="note text-muted form-help">
						<span>To send this message to more than one person, use commas (',') to separate the email addresses.</span>
					</div>
					<input type="text" ng-model="invite.emails" name="email" id="email" class="frank-admin-email-to" style="width: 100%; min-width: 100%" required/>
				</label>
			</div>
			<div class="form-group">
				<label for="message">Message:<br />
					<div class="note text-muted form-help" style="font-size: 12px; padding: 7px;">
						<span>To add a link to the recruiter form, type <code>#link#</code>.  If this is not included, the following will be added automatically to the end of your message: <code>You can sign up at #link#</code></span>
					</div>
					<textarea ng-model="invite.message" class="frank-admin-email-message" style="width: 100%; min-width: 100%"></textarea>
				</label>
			</div>
		</form>
		<div class="alert alert-danger" ng-show="error">
			<i class="fa fa-exclamation-triangle"></i> {{error}}
			<br /> If this error continues, please <a href='/#!/problems'>report it</a>.
		</div>
	</div>
	<div ng-show="sending">
		<div us-spinner="spinnerOpts" spinner-key="admin-new-recruiter-spinner-1" style="height: 80px;"></div>
	</div>
	<div ng-show="sentMode">
		Your message was sent successfully!
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-warning pull-left" ng-click="done()" ng-show="!sentMode">Cancel</button>
	<button class="btn btn-success" ng-click="sendInvite()" ng-show="editorMode" ng-disabled="newCandidateEmailForm.$invalid">Send</button>
	<button class="btn btn-success" ng-click="done()" ng-show="sentMode">Done</button>
</div>