<h2>Event List</h2>

<table class="table table-hover table-striped table-bordered">
  <thead>
    <tr>
      <td>Name</td>
      <td>Start Date</td>
      <td>End Date</td>
      <td>Location</td>
      <!---<td>Event Link</td>--->
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="event in ec.events">
      <td>{{ event.name }}</td>
      <td>{{ event.start }}</td>
      <td>{{ event.end }}</td>
      <td>{{ event.location }}</td>
      <td><input type="button" value="Remove" class="btn btn-primary"  ng-click="ec.deleteRow($index)"/></td>
      <!---<td>{{ event.link }}</td>--->
    </tr>
  </tbody>
</table>
