<h2>Pending Applications</h2>
<table class="table table-hover table-striped table-bordered">
  <thead>
    <tr>
      <td>Name</td>
      <td>Accept</td>
      <td>Deny</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="application in ac.applications">
      <td>{{ application.name }}</td>
      <td><button class="btn btn-success" ng-click="ac.addApplicant($index)">Accept</button></td>
      <td><button class="btn btn-danger" ng-click="ac.removeApplicant($index)">Deny</button>
    </tr>
  </tbody>
</table>
