<section ng-controller="KreweController">
	<div class="jumbotron text-center">
		<div class="container-fluid">
			<h2>Krewe Headquarters</h2>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row frank-main-view">
			<div class="col-md-9 col-sm-7 col-xs-7 krewe-creator">
				<div ng-repeat="krewe in krewes" class="krewe-container">
					<h3 class="krewe-name" ng-model="krewe.name" ng-click="editKreweName($index)"></h3>
					<ul dnd-list="krewe.kaptain" dnd-drop="removeKaptain($index, item)">
						<li class="krewe-kaptain" ng-model="krewe.kaptain" dnd-draggable="krewe.kaptain" dnd-effect-allowed="move" dnd-moved="removeKaptain($parent.$index)">
						</li>
					</ul>
					<ul dnd-list="krewe.members" class="krewe-members-assigned">
						<li class="krewe-member-item" ng-repeat="member in krewe.members" dnd-draggable="member" dnd-effect-allowed="moved" dnd-moved="removeMember($parent.$index, $index)">
							<div ng-include="'modules/krewes/views/krewe-member.client.view.html'"></div>
						</li>
					</ul>
				</div>
				<button class="btn btn-new-krewe krewe-container" type="button" ng-click="addNewKrewe()"><i class="fa fa-plus i-new-krewe"></i></button>
				<button class="btn btn-default" type="button" ng-click="saveChanges()"><i class="fa fa-save"></i> Save</button>
				<button class="btn btn-default" type="button" ng-click="updateLocalKrewes()">Pull Changes</button>
			</div>
			<div class="col-md-3 col-sm-5 col-xs-5 krewe-members">
				<button class="btn btn-default refresh-button" type="button"><i class="fa fa-refresh"></i></button>
				<ul dnd-list="potentialMembers" class="krewe-members-unassigned">
					<li class="krewe-member-item box box-blue" ng-repeat="member in potentialMembers" dnd-draggable="member" dnd-effect-allowed="moved" dnd-moved="removePotentialMember($index)">
						<div ng-include="'modules/krewes/views/krewe-member.client.view.html'"></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>