<section ng-controller="KreweController">
	<div class="jumbotron text-center">
		<div class="container-fluid">
			<h2>Krewe Headquarters</h2>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<filler-div class="col-md-9 col-sm-7 col-xs-7 krewe-creator">
				<div ng-repeat="krewe in krewes" class="krewe-container">
					<h3 class="krewe-name" ng-bind="krewe.name" ng-click="editKreweName($index)" ng-if="krewe.name && nameLock != $index"></h3>
					<form class="krewe-name krewe-name-form" ng-submit="saveKreweName($index)" ng-blur="saveKreweName($index)" ng-if="nameLock == $index">
						<input class="krewe-name krewe-name-element" ng-blur="saveKreweName($index)" ng-model="krewe.name" />
					</form>
					<h3 class="krewe-name" ng-click="editKreweName($index)" ng-if="!krewe.name && nameLock != $index" ng-click="editKreweName($index)">New Krewe</h3>
					<ul class="krewe-kaptain" dnd-list="krewe.kaptain" dnd-drop="removeKaptain($index, item)" dnd-inserted="storeCurrentStateLocallyUnsafe()">
						<li class="krewe-kaptain box box-orange" dnd-draggable="krewe.kaptain[0]" dnd-effect-allowed="move" dnd-moved="removeKaptain($index)" ng-if="krewe.kaptain && krewe.kaptain.length">
							<div ng-include="'modules/krewes/views/krewe-kaptain.client.view.html'"></div>
						</li>
						<div class="krewe-kaptain-placeholder" ng-if="!krewe.kaptain || !krewe.kaptain.length">Krewe Kaptain</div>
					</ul>
					<krewe-list data-index="$index" data-krewe="krewe" data-dnd-drop-func="addMember(kreweIndex, newMember)" data-dnd-inserted-func="storeCurrentStateLocallyUnsafe()" data-dnd-effect-allowed-arg="moved" data-dnd-moved-func="removeMember(kreweIndex, memberIndex)">
					</krewe-list>
				</div>
				<button class="btn btn-new-krewe krewe-container" type="button" ng-click="addNewKrewe()"><i class="fa fa-plus i-new-krewe"></i><div class="btn-description">New Krewe</div></button>
				<button class="btn btn-default btn-save" type="button" ng-click="saveChanges()"><i class="fa fa-save"></i></button>
			</filler-div>
			<filler-div class="col-md-3 col-sm-5 col-xs-5 krewe-members" margin-top="-30">
				<div class="unassigned-attendees-header">
					<h3>Unassigned Attendees</h3>
				</div>
				<ul dnd-list="potentialMembers" class="krewe-members-unassigned" dnd-inserted="storeCurrentStateLocallyUnsafe()">
					<li class="krewe-member-item box box-pink" ng-repeat="member in potentialMembers" dnd-draggable="member" dnd-effect-allowed="moved" dnd-moved="removePotentialMember($index)">
						<div ng-include="'modules/krewes/views/krewe-member.client.view.html'"></div>
					</li>
				</ul>
			</div>
		</filler-div>
	</div>
</section>