<section ng-controller="invitesCtrl">
	<div class="jumbotron text-center">
		<div class="container-fluid">
			<h2>Recruiter Control Room</h2>
		</div>
	</div>
	<form id="invite" name="invite" data-ng-submit="send()" class="frank-main-view">
		<div id="from" class="invitation_field">
			<strong>From: </strong>
			<br />
			<p id="recruiter_email">{{recruiter_email}}</p>
		</div>
		<div id="to" class="invitation_field">
			<strong>To: </strong>
			<br />
			<div id="to_fields">
				<label for="invitation_fName">First Name: 
					<input type="text" id="invitation_fName" class="to_field invitation_fName" ng-model="invite.fName" placeholder="Frank" required />
				</label>
				<br />
				<label for="invitation_lName">Last Name: 
					<input type="text" id="invitation_lName" class="to_field" ng-model="invite.lName" placeholder="Karel" required />
				</label>
				<br />
				<label for="invitee_email">Email: 
					<input type="email" class="to_field" id="invitee_email" ng-model="invite.email" placeholder="frankis@wesome.edu" required />
				</label>
			</div>
		</div>
		<div id="message">
			<b>Personal Message:</b><br />
			<textarea id="p_message" ng-model="invite.message" rows="12" cols="50"></textarea>
		</div>
		<br>
		<div id="invitation_buttons">
			<a id="previewbutton" class="btn invitation-button" id="invitation-preview-button" href="#" ng-click="togglePreview()"><i class="fa fa-eye"></i> Preview</a>
			<button type="submit" value="Send" class="btn btn-lg invitation-button" id="invitation-submit-button" ng-disabled="invite.$invalid" ng-hide="sending"><i class="fa fa-envelope-o"></i> Send</button>
			<span us-spinner="{lines:13, length:5, width:2, radius:7}" spinner-key="spinner-1" ng-show="sending"></span>
		</div>
	</form>
	<div class="frank-invites-sidebar" ng-class="{'frank-invites-sidebar-closed' : !sidebarOpen}">
		<div class="sidebar-display" ng-style="{'background-color' : sidebarColor}" ng-mouseenter="sidebarColor = sidebarActiveColor" ng-mouseleave="sidebarColor = sidebarInactiveColor" ng-click="sidebarOpen = !sidebarOpen">
			<i class='fa' ng-class="{'fa-chevron-left' : !sidebarOpen, 'fa-chevron-right' : sidebarOpen}"></i>
		</div>
		<accordion close-others="false" ng-class="{'accordion-hidden' : !sidebarOpen}">
			<accordion-group is-open="firstSelected" style="margin-top: 183px;">
				<accordion-heading>
					Awesome People Attending <i class="pull-right fa" ng-class="{'fa-chevron-right' : !firstSelected, 'fa-chevron-down' : firstSelected}"></i>
				</accordion-heading>
				<input type="search" class="frank-invite-sidebar-search" ng-model="q" placeholder="Search..." />
				<hr class="frank-invite-hr" />
				<div class="frank-invite-table-container">
					<table class="animate-container" ng-if="attendees.list.length">
						<thead>
							<tr>
								<th>Name</th>
								<th>Email</th>
							</tr>
						</thead>
						<tbody>
							<tr class="animate-repeat"  ng-repeat="attendee in (results = (attendees.list | filter:q))">
								<td>
							 		{{attendee.user_id.displayName}}
							 	</td>
							 	<td>
							 		{{attendee.user_id.email}}
							 	</td>
							</tr>
							<tr class="animate-repeat" ng-if="results.length == 0">
								<td>
									<strong>No results found...</strong>
								</td>
							</tr>
						</tbody>
					</table>
					<span ng-if="!attendees.list.length">
						{{attendees.error}}
					</span>
				</div>
				<div class="frank-invite-sidebar-total" id="accepted-total">
					<hr class="frank-invite-hr"/>
					<b>Total: {{attendees.list.length}}</b>
				</div>
			</accordion-group>
			<accordion-group is-open="secondSelected">
				<accordion-heading>
					People Invited <i class="pull-right fa" ng-class="{'fa-chevron-right' : !secondSelected, 'fa-chevron-down' : secondSelected}"></i>
				</accordion-heading>
				<input type="search" class="frank-invite-sidebar-search" ng-model="q" placeholder="Search..." />
				<hr class="frank-invite-hr"/>
				<div class="frank-invite-table-container">
					<table class="animate-container" ng-if="invitees.list.length">
						<thead>
							<tr>
								<th>Name</th>
								<th>Email</th>
							</tr>
						</thead>
						<tbody>
							<tr class="animate-repeat"  ng-repeat="invitee in (results = (invitees.list | filter:q))">
								<td>
							 		{{invitee.user_id.displayName}}
							 	</td>
							 	<td>
							 		{{invitee.user_id.email}}
							 	</td>
							</tr>
							<tr class="animate-repeat" ng-if="results.length == 0">
								<td>
									<strong>No results found...</strong>
								</td>
							</tr>
						</tbody>
					</table>
					<span ng-if="!invitees.list.length">
						{{invitees.error}}
					</span>
				</div>
				<div class="frank-invite-sidebar-total" id="invited-total">
					<hr class="frank-invite-hr"/>
					<b>Total: {{invitees.list.length}}</b>
				</div>
			</accordion-group>
			<accordion-group is-open="thirdSelected">
				<accordion-heading>
					Accepted Another's Invitation <i class="pull-right fa" ng-class="{'fa-chevron-right' : !thirdSelected, 'fa-chevron-down' : thirdSelected}"></i>
				</accordion-heading>
				<input type="search" class="frank-invite-sidebar-search" ng-model="q" placeholder="Search..." />
				<hr class="frank-invite-hr"/>
				<div class="frank-invite-table-container">
					<table class="animate-container" ng-if="almosts.list.length">
						<thead>
							<tr>
								<th>Name</th>
								<th>Email</th>
							</tr>
						</thead>
						<tbody>
							<tr class="animate-repeat"  ng-repeat="almost in (results = (almosts.list | filter:q))">
								<td>
							 		{{almost.user_id.displayName}}
							 	</td>
							 	<td>
							 		{{almost.user_id.email}}
							 	</td>
							</tr>
							<tr class="animate-repeat" ng-if="results.length == 0">
								<td>
									<strong>No results found...</strong>
								</td>
							</tr>
						</tbody>
					</table>
					<span ng-if="!almosts.list.length">
						{{almosts.error}}
					</span>
				</div>
				<div class="frank-invite-sidebar-total" id="invited-total">
					<hr class="frank-invite-hr"/>
					<b>Total: {{almosts.list.length}}</b>
				</div>
			</accordion-group>
		</accordion>
	</div>
	<!-- <div id="accepted" class="frank-invite-sidebar">
		<div class="frank-invite-sidebar-title">
			<b>Awesome People Attending</b>
		</div>
		<input type="search" class="frank-invite-sidebar-search" ng-model="q" placeholder="Search..." />
		<hr class="frank-invite-hr" />
		<div class="frank-invite-table-container">
			<table class="animate-container">
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<tr class="animate-repeat"  ng-repeat="friend in (results = (friends | filter:q))">
						<td>
					 		{{friend.name}}
					 	</td>
					 	<td>
					 		{{friend.email}}
					 	</td>
					</tr>
					<tr class="animate-repeat" ng-if="results.length == 0">
						<td>
							<strong>No results found...</strong>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="frank-invite-sidebar-total" id="accepted-total">
			<hr class="frank-invite-hr"/>
			<b>Total: {{friends.length}}</b>
		</div>
	</div>
	<div id="invites" class="frank-invite-sidebar">
		<div class="frank-invite-sidebar-title">
			<b>People You Invited</b>
		</div>
		<input type="search" class="frank-invite-sidebar-search" ng-model="q" placeholder="Search..." />
		<hr class="frank-invite-hr"/>
		<div class="frank-invite-table-container">
			<table class="animate-container">
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<tr class="animate-repeat"  ng-repeat="invite in (results = (invites | filter:q))">
						<td>
					 		{{invite.name}}
					 	</td>
					 	<td>
					 		{{invite.email}}
					 	</td>
					</tr>
					<tr class="animate-repeat" ng-if="results.length == 0">
						<td>
							<strong>No results found...</strong>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="frank-invite-sidebar-total" id="invited-total">
			<hr class="frank-invite-hr"/>
			<b>Total: {{invites.length}}</b>
		</div>
	</div> -->
</section>
