<section ng-controller="invitesCtrl">
	<div class="jumbotron text-center">
		<div class="container-fluid">
			<h2>Recruiter Control Room</h2>
		</div>
	</div>
	<div class="preview" ng-show="livepreview">
		<p>Hey {{firstName + " " + lastName}}, you have been officially invited to Frank!</p>
			{{personalMessage}}
	</div>
	<form id="invite" data-ng-submit="send()">
		<div id="from" class="invitation_field">
			<strong>From: </strong>
			<p id="recruiter_email">{{recruiter_email}}</p>
		</div>
		<div id="to" class="invitation_field">
			<strong>To: </strong>
			<div id="to_fields">
				<input type="text" class="to_field" ng-model="invite.fName" placeholder="Frank" />
				<input type="text" class="to_field" ng-model="invite.lName" placeholder="Karel" />
				<input type="text" class="to_field" id="invitee_email" ng-model="invite.email" placeholder="frankis@wesome.edu" />
			</div>
		</div>
		<div id="message">
			<b>Personal Message:</b><br />
			<textarea id="p_message" ng-model="invite.message" rows="12" cols="50"></textarea>
		</div>
		<br>
		<div id="invitation_buttons">
			<a id="previewbutton" class="btn btn-success invitation-button" href="#" ng-click="livepreview = !livepreview" ng-class="{ active: livepreview }"><i class="fa fa-eye"></i> Preview</a>
			<button type="submit" value="Send" class="btn btn-primary btn-lg invitation-button" id="invitation-submit-button"><i class="fa fa-envelope-o"></i> Send</button>
		</div>
	</form>
	<div id="accepted" class="frank-invite-sidebar">
		<div class="frank-invite-sidebar-title">
			<b>Awesome People Attending</b>
		</div>
		<!-- {{friends.length}} people are attending.</br> They are: </br> -->
		<input type="search" class="frank-invite-sidebar-search" ng-model="q" placeholder="Search..." />
		<hr class="frank-invite-hr" />
		<div class="frank-invite-table-container">
			<table class="animate-container">
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<tr class="animate-repeat"  ng-repeat="friend in (results = (friends | filter:q))">
						<td>
					 		{{friend.name}}
					 	</td>
					 	<td>
					 		{{friend.email}}
					 	</td>
					</tr>
					<tr class="animate-repeat" ng-if="results.length == 0">
						<td>
							<strong>No results found...</strong>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="frank-invite-sidebar-total" id="accepted-total">
			<hr class="frank-invite-hr"/>
			<b>Total: {{friends.length}}</b>
		</div>
	</div>
	<div id="invites" class="frank-invite-sidebar">
		<div class="frank-invite-sidebar-title">
			<b>People You Invited</b>
		</div>
		<input type="search" class="frank-invite-sidebar-search" ng-model="q" placeholder="Search..." />
		<hr class="frank-invite-hr"/>
		<div class="frank-invite-table-container">
			<table class="animate-container">
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<tr class="animate-repeat"  ng-repeat="invite in (results = (invites | filter:q))">
						<td>
					 		{{invite.name}}
					 	</td>
					 	<td>
					 		{{invite.email}}
					 	</td>
					</tr>
					<tr class="animate-repeat" ng-if="results.length == 0">
						<td>
							<strong>No results found...</strong>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="frank-invite-sidebar-total" id="invited-total">
			<hr class="frank-invite-hr"/>
			<b>Total: {{invites.length}}</b>
		</div>
	</div>
</section>
