<table class="table table-bordered">
	<tr>
		<th ng-click="setOrder('displayName')">
			Name
			<span ng-show="orderPredicate=='+displayName'" class="glyphicon glyphicon-chevron-up"></span>
			<span ng-show="orderPredicate=='-displayName'" class="glyphicon glyphicon-chevron-down"></span>
		</th>
		<th ng-click="setOrder('recruiterName')">
			Recruiter Name
			<span ng-show="orderPredicate=='+recruiterName'" class="glyphicon glyphicon-chevron-up"></span>
			<span ng-show="orderPredicate=='-recruiterName'" class="glyphicon glyphicon-chevron-down"></span>
		</th>
		<th ng-click="setOrder('orginization')">
			Orginization
			<span ng-show="orderPredicate=='+orginization'" class="glyphicon glyphicon-chevron-up"></span>
			<span ng-show="orderPredicate=='-orginization'" class="glyphicon glyphicon-chevron-down"></span>
		</th>
	</tr>

	<tr ng-repeat="user in data.users | orderBy:orderPredicate | offset:(currentPage-1)*limitVal | limitTo:limitVal">
		<td>{{user.displayName}}</td>
		<td>{{user.recuiterName}}</td>
		<td>{{user.orginization}}</td>
	</tr>
</table>

<pagination total-items="data.users.length" items-per-page="limitVal" ng-model="currentPage"></pagination>