<section>
	<div class="jumbotron text-center">
		<div class="container-fluid">
			<h2>Recruiter Leaderboard</h2>
		</div>
	</div>
	<div ng-controller="LeaderboardTablesCtrl" class="rows">
		<div class="col-md-9 leaderboard-container frank-main-view">
			<tabset>
				<tab active="initialTab" heading="Score">
					<ng-include src="'/modules/leaderboard/views/score.client.view.html'"></ng-include>
				</tab>
				<tab heading="Leaderboard">
					<ng-include src="'/modules/leaderboard/views/maintable.client.view.html'"></ng-include>
				</tab>
				<tab heading="Attending">
					<ng-include src="'/modules/leaderboard/views/attending.client.view.html'"></ng-include>
				</tab>
				<tab heading="Invited">
					<ng-include src="'/modules/leaderboard/views/invited.client.view.html'"></ng-include>
				</tab>
			</tabset>
		</div>
	</div>
	<div ng-controller="commentsCtrl" class="frank-comment-board frank-recruiter-comment-board frank-main-view">
		<div class="frank-recruiter-comment-header">
			<h3 class="frank-recruiter-comment-title">Message Board</h3>
		</div>
		<div class="frank-recruiter-comments" ng-class="{'frank-recruiter-comments-compressed' : editorExpanded, 'frank-recruiter-comments-expanded' : !editorExpanded}">
			<comment ng-repeat="comment in comments">
				<comment-header author-name="{{comment.user_id.displayName}}" post-time="{{toHumanReadable(comment.date)}}" removable="{{removable(comment.user_id._id)}}">
				</comment-header>
				<comment-body>
					{{comment.comment}}
				</comment-body>
				<comment-footer interests="comment.interests">
				</comment-footer>
			</comment>
		</div>
		<hr id="frank-comment-editorDivider" />
		<comment-editor comment-content="comment" expanded="editorExpanded" files="files"></comment-editor>
	</div>
</section>