<section>
	<div class="jumbotron text-center">
		<div class="container-fluid">
			<h2>Recruiter Leaderboard</h2>
		</div>
	</div>
	<div ng-controller="LeaderboardTablesCtrl" class="rows">
		<div class="col-md-9 leaderboard-container frank-main-view">
			<tabset>
				<tab active="initialTab" heading="Score">
					<ng-include src="'/modules/leaderboard/views/score.client.view.html'"></ng-include>
				</tab>
				<tab heading="Leaderboard">
					<ng-include src="'/modules/leaderboard/views/maintable.client.view.html'"></ng-include>
				</tab>
				<tab heading="Attending">
					<ng-include src="'/modules/leaderboard/views/attending.client.view.html'"></ng-include>
				</tab>
				<tab heading="Invited">
					<ng-include src="'/modules/leaderboard/views/invited.client.view.html'"></ng-include>
				</tab>
			</tabset>
		</div>
	</div>
</section>