<table ng-table="mainTableParams" show-filter="true" class="table table-bordered leaderboard">
	<tr ng-repeat="user in $data">
		<td data-title="'Rank'" sortable="'rank'">
			{{user.rank}}
		</td>
		<td data-title="'Name'" sortable="'lName'" filter="{'lName':'text'}">
			{{user.lName}}
		</td>
		<td data-title="'Attending/Invited Count'">
			<div class="progress">
				<div class="progress-bar progress-bar-warning" ng-style="{'width':((user.attendeeList.length/maxAttending)*100) + '%'}">
					{{user.attendeeList.length}}
				</div>
				<div class="progress-bar progress-bar-success" ng-style="{'width':((user.inviteeList.length/maxInvited)*100) + '%'}">
					{{user.inviteeList.length}}
				</div>
			</div>
		</td>
	</tr>
</table>