<section class="score-section" ng-controller="LeaderboardTablesCtrl">
	<div class="rows">
		<div class="col-md-4">
			<div class="rank-container" ng-class="{'frank-rank-smaller' : smallRankHeader}"><h1>{{userScore}}</h1></div>
		</div>
		<div class="col-md-8">
			<h1 class="stat-heading">Your Stats</h1>
			<div class="well">
				<p>Number Invited: {{userInvites}}</p>
				<p>Number Attending: {{userAttendees}}</p>
				<p>Success Rate: {{getRatio()}}%</p>
			</div>
		</div>
		<!-- <div class="col-md-3">
		</div> -->
		<div class="col-md-12 overall-stats">
			<h1 class="stat-heading">Overall Stats</h1>
			<div class="well">
				<div ng-if="!statsError">
					<div class="stat">
						<div class="stat-title">Invited: </div>
						<i class="fa fa-child" ng-repeat="i in getArr(percentInvited) track by $index"></i>
						<div class="stat-num">{{invited}}</div>
					</div>
					<div class="stat">
						<div class="stat-title">Attending: </div>
						<i class="fa fa-child" ng-repeat="i in getArr(percentAttending) track by $index"></i>
						<div class="stat-num">{{attending}}</div>
					</div>
					<div class="stat">
						<div class="stat-title">Capacity: </div>
						<i class="fa fa-child" ng-repeat="i in getArr(percentCapacity) track by $index"></i>
						<div class="stat-num">{{capacity}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>