<div style="background-color: #E8E9EB; height: 250px; width: 175px;">
	<p style="color:red; font-size:25px;">Cool it works.</p>
	<p>The true test is wether or not items will be replaced properly.  Let's try it:</p>
	<ul>
		<li>
			Event Name : {{event_name}}
		</li>
		<li>
			Recruiter Email : {{sender_email}}
		</li>
		<li>
			Invitee Email : {{receiver_email}}
		</li>
		<li>
			Invitee Name : {{receiver_fname + ' ' + receiver_lname}}
		</li>
		<li>
			Message : {{message}}
		</li>
	</ul>
</div>