<section class="events-page" ng-controller="userEventCtrl">
	<div class="jumbotron text-center">
		<div class="container-fluid">
			<h2>Events</h2>
		</div>
	</div>
	<table ng-table="tableParams" show-filter="true" class="table table-bordered">
		<tr ng-repeat="event in $data">
			<td data-title="'Event'" sortable="'name'" filter="{'event':'text'}" width="200">
				{{event.name}}
			</td>
			<td data-title="'Location'" sortable="'status'" filter="{'status':'text'}" width="100">
				{{event.location}}
			</td>
			<td data-title="'Apply to be a Recruiter'" width="90">
				<span ng-if="!checkAttending(event)" class="glyphicon glyphicon-ok"></span>
			</td>
		</tr>
	</table>
</section>