<section class="row" data-ng-controller="NewRecruiterCtrl">
	<h3 class="col-md-12 text-center">Signup to be a Recruiter</h3>
	<div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6">
		<form name="recruiterForm" data-ng-submit="submit()" class="signin form-horizontal" data-ng-show="!success">
			<fieldset>
				<div class="form-group frank-form-group-1">
					<label for="fName">First Name</label>
					<input type="text" id="fName" name="fName" class="form-control" data-ng-model="recruiter.fName" placeholder="First Name" required />
				</div>
				<div class="form-group frank-form-group-1">
					<label for="lName">Last Name</label>
					<input type="text" id="lName" name="lName" class="form-control" data-ng-model="recruiter.lName" placeholder="Last Name" required />
				</div>
				<div class="form-group frank-form-group-1">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="recruiter.email" placeholder="Email" required />
				</div>
				<div class="form-group frank-form-group-1">
					<label for="organization">Organization</label>
					<input type="text" id="organization" name="organization" class="form-control" data-ng-model="recruiter.organization" placeholder="Organization" required />
				</div>
				<div class="form-group frank-form-group-1">
					<label for="reason">Why do you want to be a recruiter for frank?</label>
					<input type="text" id="reason" name="reason" class="form-control" data-ng-model="recruiter.reason" placeholder="frank is awesome!" required />
				</div>
				<div class="form-group frank-form-group-1">
					<label for="skills">What would make you a great recruiter?</label>
					<input type="text" id="skills" name="skills" class="form-control" data-ng-model="recruiter.skills" placeholder="I know thousands of people and cannot stop talking about frank." required />
				</div>
				<div class="form-group frank-form-group-1">
					<label for="connections">What connections do you think you could bring to frank?</label>
					<input type="text" id="connections" name="connections" class="form-control" data-ng-model="recruiter.connections" placeholder="Public Interest Law, University Staff, Entertainment, Corporate, Scientific, etc." required />
				</div>
				<center><div vc-recaptcha key="'6LczTQkTAAAAAACaryqQs1gHF7QaOQQTOGkF3Eg7'"></div></center>
				<div class="text-center form-group frank-form-group-1" style="margin-top: 15px;">
					<button type="submit" class="btn btn-large btn-primary" ng-disabled="recruiterForm.$invalid">Submit</button>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
		<div data-ng-show="success">
			<div data-ng-show="success" class="text-center well">
				<strong>Form Submitted!  We will be in touch shortly.</strong>
			</div>
		</div>
	</div>
</section>
